#playagain
{
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  color: black;
  padding: 10px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 46%;
  display: none;
}

body
{
  background-color:   black;
  position: relative;
}

canvas
{
  margin:0 auto;

}
