#playagain
{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 45%;
  display: none;
}

body
{
  background-color: black;
  position: relative;
}

canvas
{
  margin:0 auto;

}
