<<<<<<< HEAD
#playagain
{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 45%;
  display: none;
}

body
{
  background-color: black;
  position: relative;
}

canvas
{
  margin:0 auto;

=======
body {
    -moz-transform: scale(1.3); /* for Firefox, default 1*/
    zoom:130%; /* For Chrome, IE, default 100%*/
>>>>>>> 9b4a03c53634dfc42d7aebcca7e0c6b6ad205670
}
