<html>
  <head>
    <title>Create A User</title>
      <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel = "stylesheet" href="resources/create_user.css">
  </head>
  <body>
    <img  id = 'spewky' src = 'resources/spewky.png'>
    <div id = 'box'>
    <h1> Create A User</h1>
    <form method=post><label>
      <p>Create a username: <input type="text" name="new_user"></p>
      <!-- {% if yes == "It is" %}
        <p>Sorry that name is taken or not valid. Try another one.</p>
      {% endif %} -->
      <p>Enter in a password: <input type="password" name="password_c1"></p>
      <p>Confirm your password: <input type="password" name="password_c2"></p>
      <p>Enter your e-mail: <input type="text" name="e_mail"></p>
      <button type="submit">Create User</button>
    </label>
    </form>
    <!-- <form action="/stats">
      <button type="submit">Create User</button>
    </form> -->
      <!-- <form method=post>
        <button type="submit">Create User</button>
      </form> -->
  </div>
    <img id = 'claus' src = 'resources/claus_right.png'>
  </body>
</html>
