<html>
  <head>
    <title>Create A User</title>
      <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel = "stylesheet" href="resources/create_user.css">
  </head>
  <body>
    <img  id = 'image' src = 'resources/spewky.png'>
    <h1> Create A User</h1>
    <form method=post><label>
      <p>Create a username: <input type="text" name="new_user"></p>
      <p>Enter in a password: <input type="text" name="password_c1"></p>
      <p>Confirm your password: <input type="text" name="password_c2"></p>
      <p>Enter character type: <input type="text" name="character_type"></p>
      <button type="submit">Create User</button>
    </label>
    </form>
  </body>
</html>
