<html>
  <head>
    <title>Forgot Password</title>
    <link rel = "stylesheet" href="resources/create_user.css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <img  id = 'spewky' src = 'resources/spewky.png'>
  </head>
  <body>
    <div id = 'box'>
    <form method=post>
      <p>Forgot Password?</p>
      <p>E-mail address: <input type="text" name="forgot_e_mail"></p>
      <button  type="submit">Enter</button>
    </form>
  </div>
    <img id = 'claus' src = 'resources/claus_right.png'>
  </body>
</html>
