<html>
<head>
</head>
<body>
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
  <link rel = "stylesheet" href="resources/create_user.css">
  <img  id = 'spewky' src = 'resources/spewky.png'>
  <div id = 'box'>
  <h1>INSTRUCTIONS<h1>
    <ol>
    <li id ='li'>Use the up, down, right, and left keys to move.</li>
    <li id ='li'>Collect the apple.</li>
    <li id ='li'>Don't let the Ghost get you!</li>
  </ol>
  </div>
  <form action ="/play">
    <button  id = 'homePageButtons' type="submit">Play!</button>
  </form>
  <img id = 'claus' src = 'resources/claus_right.png'>
</body>
</html>
