<html>
  <body>
    <link rel = "stylesheet" href="resources/sign_in.css"/>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <img  id = 'image' src = 'resources/spewky.png'>
    <div>
    <h1>SIGN-IN</h1>
    <form method=post>
      <p>Username: <input type="text" name="user_id"></p>
      <p>Password: <input type="text" name="pass_value"></p>
      {% if Correct == False %}
        <p>Sorry that username or password is incorrect. Please try again.</p>
      {% endif %}
      <a href="/forgot-password">Forgot your password?</a>
      <br>
      <br>
      <button type="submit">Log In!</button>
    </div>
    </form>
  </body>
</html>
