body{
  background-image:url('background2.gif');
  background-size:100% 100%;
  color:white;
}
img{
  margin-left: 28%;

}
h1{
  margin-left: 45px;
  font-family: 'Aclonica';
  font-size: 38px;
}
form{
  padding-left:35px;
  padding-right: 35px;
}
input{
  width:100%;
  border-radius: 15px;
}
button{
  margin-left:95px;
  border-radius: 30%;
  padding-left: :45%;
  font:20px;
}
#box{
  margin-top:65;
  border:3px solid white;
  border-radius: 30px;
  margin-left: 490;
  margin-right:490;
  background-color:navy;
}
#spewky{
  transform:scale(1.5,1.5);
  transform-origin:0 0;
}
#claus{
  margin-left: 32%;
  transform:scale(2,2);
  transform-origin:0 0;
}

#button{
  margin-top:70px;
}
#text{
  width:50%;
  margin-left: 27%;
  margin-top: 40px;
}
#homePageButtons{
  width:225px;
  height:55px;
  margin-top:6px;
  margin-left: 580;
  font-size: 20;
  border:3px solid white;
  border-radius: 30px;

  background-color:navy;
  color:white;
  font-family: 'Aclonica';

}
