body{
  background-color: lightblue;
  color:darkgreen;
}
img{
  margin-left: 30%;
}
h1{
  margin-left: 38%;
  font-family: 'Aclonica';
  font-size: 38px;
}
form{
  margin-left: 35%;
  font-family: 'Aclonica';
  font-size: 18px;
}
button{
  margin-left:95px;
  border-radius: 30%;
  padding-left: :15px;
  padding-right: 15px;
  font:20px;
}
